* {
  font-size: large;
}

html {
  height: 100%;
}

a {
  text-decoration: underline;
  color: #2A093E;
}

table {
  border: 2px solid black;
  width: 80%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid black;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  flex: auto;
  height: 100%;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #2A093E;
}

header > a {
  display: block;
  height: 100%;
  text-align: center;
  margin: 0;
  padding: 0;
  color: white;
  text-decoration: none;
}

main {
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 0.5ex 1em;
  background-color: #F4E9FC;
}

.bio {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  justify-items: left;
}

.bio > .left-side > img {
  width: 70%;
  border-radius: 15%;
  border: 2px solid black;
  margin: 0% 10%;
}

.bio > .right-side {
  margin: 3% 0%;
}

.gallery {
  display: flex;
  flex-direction: row;
  margin: 1em;
  gap: 1em;
  justify-items: center;
}

.gallery-item {
  text-align: center;
  width: 15%;
  aspect-ratio: 0.9;
  padding: 0;
  margin: 0;
  border: 2px solid  #2A093E;
}

.gallery-item  p {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 3.5em;
  color: white;
  background-color:  #2A093E;
}

.gallery-item:hover  p {
  color: #2A093E;
  background-color: #E1C1F6; 
}

footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start; 
  height: 1.5em;
  width: 100%;
  background-color:  #2A093E;
}

footer a {
  color:  white;
  text-decoration: none;
}

/*  ====  Mobile Resposive  ===  */
@media only screen and (max-width: 600px) {
  .bio {
    display: flex;
    flex-direction: column;
  }
  .bio > .left-side {
    display: none;
  }
  .gallery {
    flex-direction: column;
  }
  .gallery-item {
    width: 100%;
  }
}

