{% extends "_base.html" %}

{% block body %}
<main>
    <section id="Escritos-section" class="notes">
      <div id = 'Notes' >
        <h1> <font color = #2A093E> Notes </font> </h1>
        <p> 
        Introductory notes and reports of short learning instances. Probably there are some mistakes, read on your own risk (an tell me if somethin is wrong!) 
        </p>

        <a href="Escritos/Monografía_Mapping_Class_Group.pdf"> <h2> Undergraduate thesis: Mapping class group of surfaces </h2>
        </a>
        <p> (2023) Advisor: <a href="https://sites.google.com/view/mbustamante/"> Mauricio Bustamante Londoño, Pontificia Universidad Católica de Chile. </a> 
        </p>

      </div>
    </section>
</main>
{% endblock %}