{% extends "_base.html" %}

{% block body %}
<main>
<section id="bio-section" class="bio">
  <div class="left-side">
    <img src="./images/Foto bonita.jpg">
  </div>
  <div class="right-side">
    <p>
      Soy estudiante de magíster del Departamento de Matemáticas de la Universidad de Chile. Actualmente estor trabajando con la Dra. <strong> Anita Rojas </strong> en <strong> Geometría de Superficies de Riemann </strong>.
    <p>

      </p>
      Mi tesis se centra en establecer un algoritmo para encontrar <strong> sístoles </strong> en superficies de género 2 y 3 a partir de la acción de un grupo (abstracto).
    </p>

    <p> 
      I am a master student in Departamento de Matemáticas at Universidad de Chile, I am working with professor <strong> Anita Rojas</strong> on <strong> Geometry of Riemann surfaces </strong>. 

      Particularly, I am focused on algorithms to find <strong>systoles</strong> of surfaces of genus 2 and 3, in order to describe those surfaces with the longest systoles and biggest kissing number. 
    </p>
  </div>
</section>

<!--section id="Programs">
<h1>How to</h1>
<div class ="gallery">
  {% for title, filename in [
    ('project1', 'icon'),
    ('project2', 'icon'),
    ('project3', 'icon')
  ]%}
  <div class="gallery-item"-->
    <!-- <a href="coding/{{ filename }}.html"> -->
    <!--a>
      <p>{{ title }}</p>
      <img src="images/{{ filename }}.png"/>
    </a>
  </div>
  {% endfor %}
</div>
</section-->

<!--section id="Presentations">

</section-->

<!--section id = "Funny fails">
  <h2>Funny fails</h2>
  <div class="gallery">
    {% for title, filename in [
      ('My coordinates are right! (TikZ)','Corbatita'),
      ('Bad parametrization 1','obsceno'),
      ('funny3','icon')
      ]%}
    <div class="gallery-item">
      <a>
        <p> {{ title }}</p>
        <img src="images/{{ filename }}.png"/>
      </a>
    </div>
    {% endfor %}
  </div>
</section-->


<section id ="seminarios">
  <div id="riemanniana-2025">
    <h1>Seminario de Geometría Riemanniana 2025</h1>
    <p>
      Este semestre estoy organizando junto al profesor <strong> Pedro Gaspar </strong> un seminario de lectura en Geometría Riemanniana. La idea es cubrir las nociones clásicas: métricas Riemannianas, conexiones, geodésicas y curvaturas. 
    </p>
    <p>
      Nos reuniremos los <strong> jueves a las 12:20 hrs en sala ? </strong> de la Facultad de Matemáticas, Pontificia Universidad Católica.
    </p>

    <a href="https://drive.google.com/file/d/10nWom6Qi-nwcRIwvOqSJwpJYhYQRe0hR/view?usp=sharing">
      <strong> <font color = #450F67> Sesión 1: </font> </strong> Introducción y organización (Ver notas)
    </a>
  </div>
</section>

</main>
{% endblock %}

