{% extends "_base.html" %}

{% block body %}
<main>
<section id="bio-section" class="bio">
  <div class="left-side">
    <img src="./images/Foto bonita.jpg">
  </div>
  <div class="right-side">
    <p>
      Soy estudiante de magíster del Departamento de Matemáticas de la Universidad de Chile. Actualmente estoy trabajando con la Dra.
      <a href="https://sites.google.com/uchile.cl/anirojas/en"> Anita Rojas </a> en <strong> Geometría de Superficies de Riemann </strong>.

      La meta de mi tesis es describir un algoritmo para encontrar <strong> sístoles </strong> en superficies de género 2 y 3 a partir de la acción de un grupo (abstracto).
    </p>

    <p> 
      I am a master student in Departamento de Matemáticas at Universidad de Chile, I am working with professor 
      <font color = #2A093E> Anita Rojas </font> in <strong> Geometry of Riemann surfaces </strong>. 

      In my thesis I am trying to find those surfaces of genus 2 and 3 with the longest <strong>systoles</strong> and biggest kissing number. 
      Particularly, I am focused on to describe algorithms to determine systoles starting with an action of an abstract group.
    </p>
  </div>
</section>

<!--section id="Programs">
<h1>How to</h1>
<div class ="gallery">
  {% for title, filename in [
    ('project1', 'icon'),
    ('project2', 'icon'),
    ('project3', 'icon')
  ]%}
  <div class="gallery-item"-->
    <!-- <a href="coding/{{ filename }}.html"> -->
    <!--a>
      <p>{{ title }}</p>
      <img src="images/{{ filename }}.png"/>
    </a>
  </div>
  {% endfor %}
</div>
</section-->


<!--section id = "Funny fails">
  <h2>Funny fails</h2>
  <div class="gallery">
    {% for title, filename in [
      ('My coordinates are right! (TikZ)','Corbatita'),
      ('Bad parametrization 1','obsceno'),
      ('funny3','icon')
      ]%}
    <div class="gallery-item">
      <a>
        <p> {{ title }}</p>
        <img src="images/{{ filename }}.png"/>
      </a>
    </div>
    {% endfor %}
  </div>
</section-->


<section id ="seminarios">
  <div id="riemanniana-2025">
    <h1> <font color= #2A093E> Seminario de Geometría Riemanniana 2025</font> </h1>
    <p>
      Este semestre estoy organizando junto al profesor <a href="https://sites.google.com/view/pedrogaspar"> Pedro Gaspar</a> 
      un seminario de lectura en Geometría Riemanniana. El objetivo es cubrir las nociones clásicas: métricas Riemannianas, conexiones, geodésicas y curvaturas. 
    </p>
    <p>
      Nos reuniremos los <strong> jueves a las 12:20 hrs en sala ? </strong> de la Facultad de Matemáticas, Pontificia Universidad Católica.
    </p>

    <table>
      <thead>
         <tr>
          <th scope="col"> Fecha </th>
          <th scope="col"> Expositor/a </th>
          <th scope="col"> Notas </th>
      </tr>
      </thead>
      <tbody>
        <tr>
          <td> 7 de agosto </td>
          <td> Camila Guajardo Vásquez </td>
          <td> <a href="https://drive.google.com/file/d/10nWom6Qi-nwcRIwvOqSJwpJYhYQRe0hR/view?usp=sharing"> Introducción y organización </a> </td>
        </tr>
      </tbody>
    </table>

  </div>
</section>

</main>
{% endblock %}

