{% extends "_base.html" %}

{% block body %}
<main>
<section id="bio-section">
  <div class="bio">
    <div class="left-side">
      <img src="./images/icon.png">
    </div>
    <div class="right-side">
      Profile description.
    </div>
  </div>
</section>

<section id="coding-adventures">
<h1>Cards</h1>
<div class ="gallery">
  {% for title, filename in [
    ('project1', 'icon'),
    ('project2', 'icon'),
    ('project3', 'icon')
  ]%}
  <div class="gallery-item">
    <!-- <a href="coding/{{ filename }}.html"> -->
    <a>
      <p>{{ title }}</p>
      <img src="images/{{ filename }}.png"/>
    </a>
  </div>
  {% endfor %}
</div>
</section>

</main>
{% endblock %}

