<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="stylesheets/main.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <title>Camila Guajardo Vásquez</title>
</head>
<body>
<header>
  <a href="index.html"> Home </a>
  <a href="Escritos.html"> Notes </a>
</header>

<main>

<section id ="seminarios">

  <div id="riemanniana-2025">
    <h2> <font color= #292966> Seminario de Geometría Riemanniana 2025</font> </h2>
    <p>
    Segundo semestre de 2025. Organizado junto al profesor <a href="https://sites.google.com/view/pedrogaspar"> Pedro Gaspar</a>. 
    </p>
    <table>
      <thead>
        <tr>
         <th scope="col"> Fecha </th>
         <th scope="col"> Expositor/a </th>
         <th scope="col"> Tema </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> 7 de agosto </td>
          <td> Camila Guajardo Vásquez </td>
          <td> <a href="Riemanniana2025/Sesion01.pdf"> Introducción y organización </a> </td>
        </tr>

        <tr>
          <td> 14 de agosto </td>
          <td> Camila Guajardo Vásquez </td>
          <td> <a href="Riemanniana2025/Sesion02.pdf"> Repaso de Topología Diferencial: Espacio tangente, diferencial y subvariedades </a> </td>
        </tr>

        <tr>
          <td> 21 de agosto </td>
          <td> Simón Masnu Berríos </td>
          <td> Métricas Riemannianas I: Representación local, isometrías y subvariedades Riemannianas </td>
        </tr>

        <tr>
          <td> 28 de agosto </td>
          <td> Simón Masnu Berríos </td>
          <td> Métricas Riemannianas II: Forma de volumen, gradiente y divergencia </td>
        </tr>

        <tr>
         <td> 5 de septiembre </td>
         <td> Víctor Valencia Hernández </td>
         <td> Espacios modelo I: Espacios euclideanos, esferas y espacios hiperbólicos </td>
        </tr>

        <tr>
          <td> 11 de septiembre </td>
          <td> Camila Guajardo Vásquez </td>
          <td> <a href="Riemanniana2025/Sesion06.pdf"> Espacios modelo II: Isometrías de espacios hiperbólicos, submersiones y cubrimientos Riemannianos </a></td>
        </tr>

        <tr>
          <td> 25 de septiembre </td>
          <td> Fernando Castillo Burgos </td>
          <td> Conexiones I: Conexión afín y derivada covariante </td>
        </tr>

        <tr>
          <td> 2 de octubre </td>
          <td> Fernando Castillo Burgos </td>
          <td> Conexiones II: Geodésicas y transporte paralelo </td>
        </tr>

        <tr>
          <td> 16 de octubre </td>
          <td> Nicolás Oyarce </td>
          <td> Conexiones III: Conexión de Levi-Civita y mapeo exponencial </td>
        </tr>

        <tr>
          <td> 23 de octubre </td>
          <td> Pedro Gutiérrez </td>
          <td> Geodésicas I: Geodésicas en espacios modelo </td>
        </tr>

        <tr>
          <td> 6 de noviembre </td>
          <td> Pedro Gutiérrez </td>
          <td> Geodésicas II: Aplicación exponencial y curvas minimizantes </td>
        </tr>

        <tr>
          <td> 13 de noviembre </td>
          <td> <a href="https://josecuevas.xyz/"> José Cuevas Barrientos</a> </td>
          <td> <a href="https://josecuevas.xyz/notes/#seminarios"> Curvatura I: Identidades de Bianchi, de Ricci y proposición de Schur </a> </td>
        </tr>

        <tr>
          <td> 20 de noviembre </td>
          <td> Pablo Navarro Yévenes </td>
          <td> Curvatura II: tensor de Weyl, tensor de curvatura en dimensión hasta 3 y descomposición ortogonal </td>
        </tr>

        <tr>
          <td> 4 de diciembre </td>
          <td> Juan Pablo Vega Mac-Namara </td>
          <td> Subvariedades Riemannianas, superficies mínimas y ¿alpha singular? </td>
        </tr>

        <tr>
          <td> 11 de diciembre </td>
          <td> Felipe Labra Irribarra </td>
          <td> Introducción a EDPs en Geometría </td>
        </tr>

      </tbody>
    </table>

  </div>
</section>


</main>

<footer>
  <div class="footer-left">
    <a href="https://github.com/Cami-GV/" target="_blank">
    <svg aria-hidden="true" class="octicon octicon-mark-github" height="18" width="18"version="1.1" viewBox="0 0 16 16"><path fill="white" fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0 0 16 8c0-4.42-3.58-8-8-8z"></path> </svg>
    GitHub</a>
  </div>
  
  <div>
    <p> cguajardo@dim.uchile.cl </p>
  </div>

</footer>
</body>
</html>